body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.body-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 24px;
}

.instructions {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  width: 100%;
  align-items: center;
}

.instructions .list {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.instructions .list input {
  margin-top: 16px;
}

.face-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.face-box:hover:after {
  content: 'Replace all faces with this face!';
  position: absolute;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#image-container {
  position: relative;
  margin-top: 16px;
}

#uploaded-image {
  max-height: 600px;
}

#uploaded-image[src="#"] {
  display: none;
}

#all-images {
  display: flex;
  align-items: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.5);
}
.loader:after {
  display: block;
  text-align: center;
  font-size: 20px;
  content: 'Calculating...';
}
